<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ this.title }}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- styles -->
    <link rel="stylesheet" href="{{ this.basepath }}styles/uikit.min.css">
    <link rel="stylesheet" type="text/css" href="{{ this.basepath }}styles/default.css">
    {% block styles %}{% endblock %}

    <!-- scripts -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ this.basepath }}scripts/uikit.js"></script>
    <script type="text/javascript" src="{{ this.basepath }}scripts/default.js"></script>
</head>
<body>
{% include 'layouts/menu.twig'%}
{% include 'banners/home.twig' %}

{% block body %}
<div id="main-body">

    {{ content }}
</div>
{% endblock %}

{% include 'layouts/footer.twig' %}
</body>
</html>

