<nav id="header" class="uk-navbar uk-navbar-attached {{ this.is_home ? 'home' : '' }}">
    <div class="uk-container uk-container-center">

        <a id="big-logo" class="uk-navbar-brand uk-hidden-small" href="{{ this.basepath }}">
            <img class="uk-margin uk-margin-remove" src="{{ this.basepath }}media/img/asukademy-logo-horz.png" title="Asukademy" alt="Asukademy">
        </a>

        <a href="#" class="uk-navbar-toggle uk-visible-small" data-uk-toggle="{target:'#mainmenu', cls: 'uk-hidden-small'}"></a>

        <a id="small-logo" class="uk-navbar-brand uk-navbar-center uk-visible-small" href="{{ this.basepath }}">
            <img class="uk-margin uk-margin-remove" style="max-width: 95%;" src="{{ this.basepath }}media/img/asukademy-logo-horz.png" title="Asukademy" alt="Asukademy">
        </a>

        <ul id="mainmenu" class="uk-navbar-nav uk-float-right uk-hidden-small">
            <li class="{{ this.active_menu == 'about' ? 'uk-active' : null }}">
                <a href="{{ this.basepath }}about">
                    <span class="menu-item-title">關於我們</span>
                    <span class="menu-item-sub-title">About</span>
                </a>
            </li>

            <li class="{{ this.active_menu == 'courses' ? 'uk-active' : null }}">
                <a href="{{ this.basepath }}courses">
                    <span class="menu-item-title">課程資訊</span>
                    <span class="menu-item-sub-title">Courses</span>
                </a>
            </li>

            <li class="{{ this.active_menu == 'blog' ? 'uk-active' : null }}">
                <a href="http://blog.asukademy.com">
                    <span class="menu-item-title">部落格</span>
                    <span class="menu-item-sub-title">Blog</span>
                </a>
            </li>

            <li class="{{ this.active_menu == 'faq' ? 'uk-active' : null }}">
                <a href="{{ this.basepath }}faq">
                    <span class="menu-item-title">常見問題</span>
                    <span class="menu-item-sub-title">FAQ</span>
                </a>
            </li>

            <li class="{{ this.active_menu == 'contact' ? 'uk-active' : null }}">
                <a href="{{ this.basepath }}contact">
                    <span class="menu-item-title">聯絡與諮詢</span>
                    <span class="menu-item-sub-title">Contact</span>
                </a>
            </li>
        </ul>

    </div>
</nav>
